*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    /* background: url(silas-baisch-K785Da4A_JA-unsplash.jpg) center;
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: #0F4459;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: #fff;
    margin: 20px 100px;
}

#main {
    display: flex;
}

input, textarea {
    font: 400 2vh Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid #fff;
    padding: 10px;
    margin: 10px 0;
    background-color: #0F4459;
    color: #fff;
}

textarea {
    resize: none;
}

button {
    font: 400 2vh Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    margin-top: 10px;
    background-color: #E1A133;
}

.botoes, #contato-form {
    display: flex;
    flex-direction: column;
}

.tudo, #contato-lista {
    margin: 10px 100px;
    width: 560px;

} 

#contato-lista {
    font: 400 2.5vh Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}